@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #111116;
    /* Dark background matching the image */
    color: #e2e8f0;
    /* Slate 200 */
    font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar for Transcript Box */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4e4073;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7a6baf;
}